.Weather {
  text-align: center;
  border-radius: 10px;
  width: 60%;
  padding: 20px;
  margin: 100px auto;
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

h1 {
  font-family: "Knewave", cursive;
}
.Weather .temperature {
  font-family: "Knewave", cursive;
  font-size: 100px;
  margin-right: 10px;
  position: relative;
  top: 40px;
  right: -20px;
}
.Weather .unit {
  font-size: 40px;
  position: relative;
  top: -23px;
  right: -14px;
}
.Weather canvas {
  margin: 1px auto;
}

div {
  font-family: "Pacifico", cursive;
}

.Weather ul {
  list-style-type: none;
  padding-left: 0px;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  list-style: none;
}

.form-control {
  border: 1px solid #000000;
  border-radius: 10px;
  margin-left: none;
}
.currentLocation {
  padding: 0;
  border: none;
  background: none;
  margin-right: none;
}
.search-button {
  background-color: #6595c3 !important;
  width: 100px;
}
@media screen and (max-width: 991px) {
  .Weather {
    width: 90%;
  }
  .Weather .temperature {
    font-size: 60px;
    position: relative;
    top: 5px;
    right: -20px;
  }
  .Weather .unit {
    font-size: 20px;
  }
  .search-button {
    width: 80px;
  }
}
